/* Calendar Styling */
.calendar-table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensure all columns have the same width */
  margin-inline: auto;
}

.calendar-table th, .calendar-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  position: relative;
  width: 14.28%; /* This ensures each column takes up an equal portion (100% / 7 columns) */
}


.calendar-day-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-table th {
  background-color: #f3f3f3;
  font-size: 16px;
}

/* Event Styling */
.event-card {
  background-color: #499ac0;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  word-wrap: break-word; /* Prevents long text from expanding the cell */
  max-height: 40px; /* Limit the height to avoid large cards */
  overflow: hidden;
  text-overflow: ellipsis; /* Cut off overflowing text with '...' */
  white-space: nowrap; /* Ensure the text remains on one line */
}

.event-title {
  font-weight: bold;
  display: block;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.close-modal-btn {
  background-color: #5b5b5c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #a5a5a5;
}
