/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 20px;
    display: inline-table;
}

/* Event card styling */
.event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 5px 10px 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.event-card p {
    margin: 5px 0;
    color: #666;
}

.event-card .action-buttons {
    margin-top: 15px;
}

.action-buttons a, .action-buttons form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d8d8d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*This is the Edit Button color*/
.action-buttons form button {
    background-color: #8d8d8d;
    border: none;
}

/*This is the hover effect for the Edit Button*/
.action-buttons a:hover, .action-buttons form button:hover {
    background-color: #3b9ebd;
}

/*This is the hover effect for the Delete Button*/
.action-buttons form button:hover {
    background-color: #d32f2f;
}

/* Button styling */
.button {
    padding: 10px 20px;
    background-color: #8d8d8d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/*This is the hover effect for the Create New Event Button*/
.button:hover {
    background-color: #1e9724;
}

/* No events styling */
.no-events {
    font-size: 1.2em;
    color: #999;
}

/* Footer styling */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

footer a {
    color: #8d8d8d;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .event-card {
        padding: 10px;
    }

    .action-buttons a, .action-buttons form button {
        padding: 8px 16px;
    }

    .button {
        padding: 8px 16px;
    }
}
