<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>First Name: {{user_info.first_name}}</p>
    <p>Last Name: {{user_info.last_name}}</p>
    <p>Email: {{user_info.email}}</p>
    <p>Phone: {{user_info.phone}}</p>
    <a href="/logout">Logout</a>

    <table><thead>
        <tr>
          <th>Event Name</th>
          <th>Location</th>
          <th>Participants</th>
        </tr></thead>
      <tbody>
        <tr>
          <td>Event 1</td>
          <td>KY</td>
          <td>1561</td>
        </tr>
        <tr>
          <td>Event 2</td>
          <td>KY</td>
          <td>16518</td>
        </tr>
        <tr>
          <td>Event 3</td>
          <td>KY</td>
          <td>5611</td>
        </tr>
      </tbody>
      </table>
</body>
</html>
