{% extends 'base.html' %}

{% block title %}Attending Events{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/events.css">
</head>

<h1>Events You're Attending</h1>

<ul>
    {% if attending_events %}
        {% for event in attending_events %}
            <li>
                <h3>{{ event.name }}</h3>
                <p>Date: {{ event.date }} at {{ event.time }}</p>
                <p>Location: {{ event.location }}</p>

                <!-- Check if the user is also hosting the event -->
                {% if event.host_id == session['user']['id'] %}
                    <p><strong>(You're hosting this event)</strong></p>
                {% endif %}

                <a href="/event/{{ event.id }}" class="button">View Details</a>
            </li>
        {% endfor %}
    {% else %}
        <li>You are not attending any events.</li>
    {% endif %}
</ul>
{% endblock %}
