<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to the specific CSS file for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Event Management System</h1>

    <!-- Display any messages passed to the page -->
    <p class="messages">{{ messages }}</p>

    <div class="action-links">
        <a href="/login" class="button-login">Login</a> or
        <a href="/register" class="button-register">Create an Account</a>
    </div>
</body>

