{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

    <!-- Link to the specific CSS file for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    <h2 style="text-align: center;">Your Profile Information</h2>
    <div class="profile-info">            
        <p><strong>Username:</strong> {{ session['user']['username'] }}</p>
        <p><strong>Email:</strong> {{ session['user']['email'] }}</p>
        <p><strong>Phone:</strong> {{ session['user']['phone'] }}</p>
    </div>

{% endblock %}
